:root {
  --nomeVar: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  background-color: #f5f5f5;
}

.divWelcome {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divWelcome span,
.divWelcome h1 {
  font-size: 2em;
}

.divWelcome button {
  margin-top: 20px;
}

.dNone {
  display: none;
}

header {
  width: 100vw;
  height: 80vh;
  background-color: gray;
}

main {
  width: 100vw;
  height: 400px;
  background-color: #c7c7c7;
}

footer {
  width: 100vw;
  height: 50px;
  background-color: #1d1d1d;
}
