:root {
  --nomeVar: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  background-color: #f5f5f5;
}

header {
  width: 100vw;
  height: 80vh;
  position: relative;
  background-image: url("../images/menino-no-laptop.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0%, 85% 80%, 0% 90%);
  background-color: lightgreen;
}

header::after {
  border: 2px solid red;
}

header .header {
  height: 80px;
}

header .header .headerBrand {
  width: 150px;
  height: 100%;
}

header .header .headerNav nav ul li {
  margin: 0 15px;
}

header .headerTitles {
  height: calc(80vh - 80px);
}

main {
  width: 100vw;
}

footer {
  width: 100vw;
  height: 50px;
  background-color: #1d1d1d;
}
