:root {
  --primaryColor: #7950df;
  --primaryColor2: #8e74cf;

  --secondaryColor: #48c774;
  --secondaryColor2: #a2ecbb;

  --bodyBackground: #f5f5f5;
  --footerBackground: #242737;

  --colorWhite: #fff;
  --colorBlack: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  background-color: var(--bodyBackground);
}

/* CLASSES GENÉRICAS - INICIO */
.is-absolute {
  position: absolute;
}

.has-font-size-07 {
  font-size: 0.7em;
}

.has-font-size-09 {
  font-size: 0.9em;
}

.has-font-size-1 {
  font-size: 1em;
}

.has-font-size-1-2 {
  font-size: 1.2em;
}

.has-font-size-1-5 {
  font-size: 1.5em;
}

.has-font-size-1-7 {
  font-size: 1.7em;
}

.has-font-size-2 {
  font-size: 2em;
}

.has-font-size-2-5 {
  font-size: 2.5em;
}

.has-font-size-2-7 {
  font-size: 2.7em;
}

.has-font-size-3-7 {
  font-size: 3.7em;
}

.has-font-size-4 {
  font-size: 4em;
}

.has-font-size-6 {
  font-size: 6em;
}

.has-border-right-1px-solid-lightgray {
  border-right: 1px solid lightgray;
}

.has-border-1px-solid-lightgray {
  border: 1px solid lightgray;
}

.has-border-1px-solid-green {
  border: 1px solid var(--secondaryColor);
}

.is-purple {
  color: var(--primaryColor);
}

.is-lightgray {
  color: lightgray;
}

.has-background-purple {
  background-color: var(--primaryColor);
}

.w-10 {
  width: 10%;
}

.w-25 {
  width: 25%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.has-bottom-0 {
  bottom: 0;
}

.has-left-45 {
  left: 45%;
}

.has-border-radius-50 {
  border-radius: 50%;
}

.has-cursor-pointer {
  cursor: pointer;
}

.showMenu {
  top: 0 !important;
  right: 0 !important;
  opacity: 1 !important;
}

.is-overflow-hidden {
  overflow: hidden !important;
}
/* CLASSES GENÉRICAS - FIM */

/* ESTILOS GENÉRICOS - INICIO */
input[type="text"]::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--primaryColor2);
  opacity: 1; /* Firefox */
}

input[type="text"]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--primaryColor2);
}

input[type="text"]::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--primaryColor2);
}
/* ESTILOS GENÉRICOS - FIM */

header {
  width: 100vw;
  height: 80vh;
  position: relative;
  background-image: url("../images/mulher-no-laptop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* clip-path: polygon(0 0, 100% 0%, 85% 80%, 0% 95%); */
  background-color: lightgreen;
}

header .header {
  height: 80px;
}

header .header .headerBrand {
  width: 150px;
  height: 100%;
}

header .header .headerNav nav ul li {
  margin: 0 15px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
header .header .headerNav nav ul li:hover {
  color: var(--secondaryColor);
}

header .headerTitles {
  height: calc(80vh - 80px);
}

header .divHeaderOverflow {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, var(--primaryColor), #8e6ce333);
  top: 0;
  left: 0;
  z-index: 1;
}

main {
  width: 100vw;
}

main .squarePurple {
  display: none;
  width: 200px;
  height: 200px;
  background-color: var(--secondaryColor2);
  position: absolute;
  top: -150px;
  right: -210px;
  transform: rotate(45deg);
  border-radius: 30px;
  z-index: 2;
}

main .squarePurple::after {
  display: none;
  width: 200px;
  height: 200px;
  content: "";
  position: absolute;
  top: 50px;
  right: -30px;
  background-color: var(--primaryColor);
  border-radius: 30px;
  z-index: 1;
}

main .doubleDivOverlay {
  width: 200px;
  height: 200px;
  bottom: 20px;
  z-index: 1;
  left: 50px;
  background-color: var(--secondaryColor2);
  transform: rotate(45deg);
  border-radius: 0 0 30px 0;
}

main .doubleDivOverlay::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 200px;
  left: -30px;
  background-color: var(--primaryColor);
  bottom: -40px;
  border-radius: 0 0 30px 0;
}

main .doubleDivOverlayRight {
  width: 200px;
  height: 200px;
  top: 150px;
  z-index: 2;
  right: -120px;
  background-color: #754bdd;
  transform: rotate(45deg);
  border-radius: 30px;
}

main .doubleDivOverlayRight::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 200px;
  background-color: #744fd0;
  border-radius: 30px;
  right: 50px;
  bottom: 30px;
}

main .Recommended-Courses {
  top: -200px;
  right: -230px;
  background-color: var(--secondaryColor2);
}

main .Recommended-Courses::after {
  bottom: -30px;
  right: -30px;
}

main .Top-Categories {
  top: -120px;
  left: -240px;
  border-radius: 30px;
}

main .Top-Categories::after {
  border-radius: 30px;
  bottom: 40px;
}

main .aCard,
main .aCard .aCard-Inner,
main .aCard-Icon,
main .aCard-Circle {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

main .aCard-Icon {
  bottom: 20px;
  opacity: 0;
}

main .aCard-Circle {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #835edf;
  border-radius: 50%;
  right: -200px;
  bottom: -200px;
  opacity: 0;
}

main .aCard:hover .aCard-Inner {
  background-color: var(--primaryColor) !important;
  color: var(--colorWhite) !important;
  transform: translateY(-10px);
}

main .aCard:hover .aCard-Inner p {
  color: var(--colorWhite) !important;
}

main .aCard:hover .aCard-Icon {
  bottom: 0;
  opacity: 1;
}

main .aCard:hover .aCard-Circle {
  right: -100px;
  bottom: -100px;
  opacity: 1;
}

footer {
  background-color: var(--footerBackground);
}

/* BREAKPOINTS - INICIO */
@media only screen and (max-width: 400px) {
  .h2Title {
    font-size: 2.3em;
  }
}

@media only screen and (min-width: 401px) {
  .h2Title {
    font-size: 2.9em;
  }
}

@media only screen and (max-width: 1024px) {
  /* MENU MOBILE - INICIO */
  header .header .headerNav nav ul.isMobile {
    position: fixed;
    width: 100%;
    right: 0;
    background-color: #66008b;
    height: 100vh;
    flex-direction: column;
    z-index: 999999;
    overflow: hidden;
    padding-top: 50px;
    transition: all 0.4s ease-in-out;
    right: -100%;
    top: -100%;
    opacity: 0;
  }

  header .header .headerNav nav ul.isMobile li:first-child {
    padding: 20px;
    border-bottom: 2px solid #4c0964;
    width: 90%;
    justify-content: center;
  }

  header .header .headerNav nav ul.isMobile li:not(:first-child) {
    padding: 20px;
    border-bottom: 2px solid #4c0964;
    width: 90%;
    text-align: center;
  }

  header .header .headerNav nav ul.isMobile li.has-margin-left-custom {
    margin-left: 15px !important;
  }
  /* MENU MOBILE - FIM */
}
/* BREAKPOINTS - FIM */
